@import 'variables';

.about-container {
    width:100%;
    height: 100%;

    .about-banner {
        width: 100%;
        height: 15vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: @blue;
        box-shadow: @shadow;

        .about-title {
            font-family: @fat-face;
            font-size: 5rem;
            color: @grey;
        }

        .about-icon {
            font-size: 4rem;
            margin-right: 18px;
            color: @grey;
        }
    }

    .introduction-container {
        display: flex;
        justify-content: center;
        margin: 40px 0px;
        flex-direction: column;
        align-items: center;

        .name {
            font-size: 4rem;
            color: @flat-black;
            font-family: @alegreya;
            margin-bottom: 10px;
        }

        .title {
            font-size: 2rem;
            color: @grey;
            font-family: @average;
        }
    }

    .profile-cv-follow {
        display: flex;
        justify-content: center;
        align-items: center;

        .cv-download {
            
            .cv-icons {
                .cv-icon {
                    font-size: 2.5rem;
                    color: @flat-black;
                    margin: 10px 20px 10px 30px;
                }
            }

            .cv-download-text {
                font-size: 1.75rem;
                color: @grey;
                font-family: @average;
                margin-right: 20px;
            }
        }
        .github-linkedin {

            .follow-icons {
                .cv-icon {
                    font-size: 3rem;
                    color: @flat-black;
                    margin: 10px 20px 10px 20px;
                }
            }
            .follow-me {
                font-size: 1.75rem;
                color: @grey;
                font-family: @average;
                margin-left: 20px;
            }
        }

        .profile-pic {
            width: 20%;
            border-radius: 50%;
            border: 1px solid @flat-black;
            padding: 3px;
        }

    }

    .divider {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 50px;

        .line-break {
            width: 30%;
        }

        .diamond-icon {
            font-size: 3rem;
        }
    }

    .skills-title-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .skills-title {
            font-size: 4rem;
            color: @flat-black;
            margin-bottom: 10px;
            font-family: @alegreya;
        }

        .skills-text {
            font-size: 2rem;
            color: @grey;
            font-family: @average;
        }


    }

    .skills {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 70%;
        margin-top: 50px;
        margin-left: 15%;

        .skill {
            font-size: 2rem;
            font-family: @average;
            color: @flat-black;
        }
    }
}