@font-face {
  font-family: 'Abril Fatface';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Abril Fatface'), local('AbrilFatface-Regular'), url(https://fonts.gstatic.com/s/abrilfatface/v11/zOL64pLDlL1D99S8g8PtiKchm-A.ttf) format('truetype');
}
@font-face {
  font-family: 'Alegreya SC';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Alegreya SC Medium'), local('AlegreyaSC-Medium'), url(https://fonts.gstatic.com/s/alegreyasc/v11/taiTGmRtCJ62-O0HhNEa-ZZc-rUx.ttf) format('truetype');
}
@font-face {
  font-family: 'Average';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Average Regular'), local('Average-Regular'), url(https://fonts.gstatic.com/s/average/v8/fC1hPYBHe23MxA7rIeI.ttf) format('truetype');
}
@font-face {
  font-family: 'Boogaloo';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Boogaloo Regular'), local('Boogaloo-Regular'), url(https://fonts.gstatic.com/s/boogaloo/v11/kmK-Zq45GAvOdnaW6x1F.ttf) format('truetype');
}
@font-face {
  font-family: 'Courgette';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Courgette Regular'), local('Courgette-Regular'), url(https://fonts.gstatic.com/s/courgette/v7/wEO_EBrAnc9BLjLQAUkFUQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Kaushan Script';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Kaushan Script'), local('KaushanScript-Regular'), url(https://fonts.gstatic.com/s/kaushanscript/v8/vm8vdRfvXFLG3OLnsO15WYS5DF7_.ttf) format('truetype');
}
@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Lobster Regular'), local('Lobster-Regular'), url(https://fonts.gstatic.com/s/lobster/v22/neILzCirqoswsqX9_oU.ttf) format('truetype');
}
@font-face {
  font-family: 'Permanent Marker';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Permanent Marker Regular'), local('PermanentMarker-Regular'), url(https://fonts.gstatic.com/s/permanentmarker/v9/Fh4uPib9Iyv2ucM6pGQMWimMp004Hao.ttf) format('truetype');
}
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/playfairdisplay/v21/nuFvD-vYSZviVYUb_rj3ij__anPXJzDwcbmjWBN2PKdFvUDQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Playfair Display SC';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Playfair Display SC Regular'), local('PlayfairDisplaySC-Regular'), url(https://fonts.gstatic.com/s/playfairdisplaysc/v9/ke85OhoaMkR6-hSn7kbHVoFf7ZfgMPr_pb4.ttf) format('truetype');
}
@font-face {
  font-family: 'Playfair Display SC';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Playfair Display SC Bold'), local('PlayfairDisplaySC-Bold'), url(https://fonts.gstatic.com/s/playfairdisplaysc/v9/ke80OhoaMkR6-hSn7kbHVoFf7ZfgMPr_nQIpNcs.ttf) format('truetype');
}
@font-face {
  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Yeseva One Regular'), local('YesevaOne-Regular'), url(https://fonts.gstatic.com/s/yesevaone/v14/OpNJno4ck8vc-xYpwWWxpio.ttf) format('truetype');
}
.about-container {
  width: 100%;
  height: 100%;
}
.about-container .about-banner {
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0c4b4f;
  box-shadow: inset 1px 2px 20px 0px rgba(17, 17, 17, 0.62), 0px 0px 6px 0 #0000001c;
}
.about-container .about-banner .about-title {
  font-family: 'Abril Fatface', cursive;
  font-size: 5rem;
  color: #9f9f9d;
}
.about-container .about-banner .about-icon {
  font-size: 4rem;
  margin-right: 18px;
  color: #9f9f9d;
}
.about-container .introduction-container {
  display: flex;
  justify-content: center;
  margin: 40px 0px;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5%;
}
.about-container .introduction-container .name {
  font-size: 4rem;
  color: #333333;
  font-family: 'Alegreya SC', serif;
  margin-bottom: 10px;
}
.about-container .introduction-container .title {
  font-size: 2rem;
  color: #9f9f9d;
  font-family: 'Average', serif;
}
.about-container .profile-cv-follow {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5%;
}
.about-container .profile-cv-follow .quote {
  font-size: 1.75rem;
  font-family: 'Average', serif;
  color: #9f9f9d;
  margin: 2% 10%;
  line-height: 3rem;
  width: 400px;
}
@media (max-width: 500px) {
  .about-container .profile-cv-follow .quote {
    width: 308px;
  }
}
.about-container .profile-cv-follow .github-linkedin {
  width: 100%;
}
.about-container .profile-cv-follow .github-linkedin .icons {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 20%;
  margin-top: 5%;
}
@media (max-width: 500px) {
  .about-container .profile-cv-follow .github-linkedin .icons {
    width: 85%;
    margin-left: 7%;
  }
}
.about-container .profile-cv-follow .github-linkedin .icons .cv-icon {
  font-size: 3.5rem;
  color: #0c4b4f;
}
.about-container .profile-cv-follow .profile-pic {
  width: 20%;
  border-radius: 50%;
  border: 1px solid #5f686b;
  padding: 3px;
}
@media (max-width: 800px) {
  .about-container .profile-cv-follow .profile-pic {
    width: 35%;
  }
}
@media (max-width: 800px) and (max-width: 500px) {
  .about-container .profile-cv-follow .profile-pic {
    width: 50%;
  }
}
.about-container .divider {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5%;
}
.about-container .divider .line-break {
  width: 30%;
}
.about-container .divider .down-arrow-icon {
  font-size: 3rem;
  color: #333333;
}
.about-container .skills-title-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-container .skills-title-text .skills-title {
  font-size: 4rem;
  color: #333333;
  margin-bottom: 10px;
  font-family: 'Alegreya SC', serif;
}
.about-container .skills-title-text .skills-text {
  font-size: 1.75rem;
  color: #9f9f9d;
  font-family: 'Average', serif;
}
.about-container .skills {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 70%;
  margin-top: 3%;
  margin-left: 15%;
  padding: 1%;
}
.about-container .skills .skill {
  font-size: 2rem;
  font-family: 'Alegreya SC', serif;
  color: #333333;
}
.about-container .ctc {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3%;
}
.about-container .ctc .ct {
  font-size: 4rem;
  font-family: 'Alegreya SC', serif;
  color: #333333;
}
@media (max-width: 500px) {
  .about-container .ctc .ct {
    font-size: 3rem;
  }
}
.about-container .cinfo {
  width: 50%;
  margin-left: 25%;
  border: 1px solid #0c4b4f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
  border-radius: 8px;
}
.about-container .cinfo .map-icon {
  font-size: 3rem;
  color: #0c4b4f;
  margin-top: 5%;
  margin-bottom: 1%;
}
.about-container .cinfo .location {
  font-size: 2rem;
  color: #9f9f9d;
  font-family: 'Average', serif;
  margin-bottom: 5%;
}
@media (max-width: 500px) {
  .about-container .cinfo .location {
    font-size: 1.5rem;
  }
}
.about-container .cinfo .mail-icon {
  font-size: 3rem;
  color: #0c4b4f;
  margin-bottom: 1%;
}
.about-container .cinfo .email {
  font-size: 2rem;
  color: #9f9f9d;
  font-family: 'Average', serif;
  margin-bottom: 5%;
}
@media (max-width: 500px) {
  .about-container .cinfo .email {
    font-size: 1.5rem;
  }
}
.about-container .cinfo .phone-icon {
  font-size: 3rem;
  color: #0c4b4f;
  margin-bottom: 1%;
}
.about-container .cinfo .phone {
  font-size: 2rem;
  color: #9f9f9d;
  font-family: 'Average', serif;
  margin-bottom: 5%;
}
@media (max-width: 500px) {
  .about-container .cinfo .phone {
    font-size: 1.5rem;
  }
}
.ant-progress-bg {
  background-color: #0c4b4f;
}
