@import 'variables';

.landing-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
    background-image: url('../img/1920.jpg');
    background-size: cover;

    .hero-text {
        color: @grey;
        font-size: 6rem;
        font-family: @fat-face;
    }
}