@import 'variables';

.ant-drawer-wrapper-body {
    background: @flat-black;

    .ant-drawer-header {
        border-bottom: 1px solid @grey;
        background: @flat-black;

        .ant-drawer-title {
            display: flex;
            justify-content: center;
            align-items: center;

            .menu-logo {
                width: 100%;
            }
        }

    }

    .ant-drawer-body {
        display: flex;
        flex-direction: column;
        line-height: 2;
        padding: 12px;

        a {
            color: @grey;
            font-size: 3rem;
            font-family: @heading;

            .drawer-icon {
                margin-right: 25px;
            }

        }

        a:hover {
            color: #fff;
        }

    }
}
