@import 'variables';

.portfolio-container {
    height: 100%;
    width: 100%;

    .portfolio-banner {
        width: 100%;
        height: 15vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: @blue;
        box-shadow: @shadow;

        .portfolio-title {
            font-family: @fat-face;
            font-size: 5rem;
            color: @grey;
        }

        .portfolio-icon {
            font-size: 4rem;
            margin-right: 18px;
            color: @grey;
        }
    }
}