@font-face {
  font-family: 'Abril Fatface';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Abril Fatface'), local('AbrilFatface-Regular'), url(https://fonts.gstatic.com/s/abrilfatface/v11/zOL64pLDlL1D99S8g8PtiKchm-A.ttf) format('truetype');
}
@font-face {
  font-family: 'Alegreya SC';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Alegreya SC Medium'), local('AlegreyaSC-Medium'), url(https://fonts.gstatic.com/s/alegreyasc/v11/taiTGmRtCJ62-O0HhNEa-ZZc-rUx.ttf) format('truetype');
}
@font-face {
  font-family: 'Average';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Average Regular'), local('Average-Regular'), url(https://fonts.gstatic.com/s/average/v8/fC1hPYBHe23MxA7rIeI.ttf) format('truetype');
}
@font-face {
  font-family: 'Boogaloo';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Boogaloo Regular'), local('Boogaloo-Regular'), url(https://fonts.gstatic.com/s/boogaloo/v11/kmK-Zq45GAvOdnaW6x1F.ttf) format('truetype');
}
@font-face {
  font-family: 'Courgette';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Courgette Regular'), local('Courgette-Regular'), url(https://fonts.gstatic.com/s/courgette/v7/wEO_EBrAnc9BLjLQAUkFUQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Kaushan Script';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Kaushan Script'), local('KaushanScript-Regular'), url(https://fonts.gstatic.com/s/kaushanscript/v8/vm8vdRfvXFLG3OLnsO15WYS5DF7_.ttf) format('truetype');
}
@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Lobster Regular'), local('Lobster-Regular'), url(https://fonts.gstatic.com/s/lobster/v22/neILzCirqoswsqX9_oU.ttf) format('truetype');
}
@font-face {
  font-family: 'Permanent Marker';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Permanent Marker Regular'), local('PermanentMarker-Regular'), url(https://fonts.gstatic.com/s/permanentmarker/v9/Fh4uPib9Iyv2ucM6pGQMWimMp004Hao.ttf) format('truetype');
}
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/playfairdisplay/v21/nuFvD-vYSZviVYUb_rj3ij__anPXJzDwcbmjWBN2PKdFvUDQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Playfair Display SC';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Playfair Display SC Regular'), local('PlayfairDisplaySC-Regular'), url(https://fonts.gstatic.com/s/playfairdisplaysc/v9/ke85OhoaMkR6-hSn7kbHVoFf7ZfgMPr_pb4.ttf) format('truetype');
}
@font-face {
  font-family: 'Playfair Display SC';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Playfair Display SC Bold'), local('PlayfairDisplaySC-Bold'), url(https://fonts.gstatic.com/s/playfairdisplaysc/v9/ke80OhoaMkR6-hSn7kbHVoFf7ZfgMPr_nQIpNcs.ttf) format('truetype');
}
@font-face {
  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Yeseva One Regular'), local('YesevaOne-Regular'), url(https://fonts.gstatic.com/s/yesevaone/v14/OpNJno4ck8vc-xYpwWWxpio.ttf) format('truetype');
}
@font-face {
  font-family: 'Cardo';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Cardo'), local('Cardo-Regular'), url(https://fonts.gstatic.com/s/cardo/v11/wlp_gwjKBV1pqiv_.ttf) format('truetype');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v34/TK3_WkUHHAIjg75cFRf3bXL8LICs1_FvgUE.ttf) format('truetype');
}
@font-face {
  font-family: 'Crimson Text';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Crimson Text Regular'), local('CrimsonText-Regular'), url(https://fonts.gstatic.com/s/crimsontext/v10/wlp2gwHKFkZgtmSR3NB0oRJvaA.ttf) format('truetype');
}
@font-face {
  font-family: 'Unica One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Unica One'), local('UnicaOne-Regular'), url(https://fonts.gstatic.com/s/unicaone/v7/DPEuYwWHyAYGVTSmalshdg.ttf) format('truetype');
}
@font-face {
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ebgaramond/v14/SlGDmQSNjdsmc35JDF1K5E55YMjF_7DPuGi-6_RUAw.ttf) format('truetype');
}
@font-face {
  font-family: 'Kreon';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/kreon/v23/t5t9IRIUKY-TFF_LW5lnMR3v2Dnvhd-meg.ttf) format('truetype');
}
@font-face {
  font-family: 'Bree Serif';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Bree Serif Regular'), local('BreeSerif-Regular'), url(https://fonts.gstatic.com/s/breeserif/v9/4UaHrEJCrhhnVA3DgluAx60.ttf) format('truetype');
}
@font-face {
  font-family: 'Cinzel';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Cinzel Bold'), local('Cinzel-Bold'), url(https://fonts.gstatic.com/s/cinzel/v9/8vIK7ww63mVu7gtzTUHeFA.ttf) format('truetype');
}
@font-face {
  font-family: 'Fauna One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Fauna One'), local('FaunaOne-Regular'), url(https://fonts.gstatic.com/s/faunaone/v7/wlpzgwTPBVpjpCuwkuEx2Q.ttf) format('truetype');
}
.resume-container {
  width: 100%;
  height: 100%;
}
.resume-container .port {
  height: 7vh;
}
.resume-container .resume-banner {
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0c4b4f;
  box-shadow: inset 1px 2px 20px 0px rgba(17, 17, 17, 0.62), 0px 0px 6px 0 #0000001c;
}
.resume-container .resume-banner .resume-title {
  font-family: 'Unica One', cursive;
  font-weight: 900;
  font-size: 5rem;
  color: #9f9f9d;
}
.resume-container .resume-banner .resume-icon {
  font-size: 3.25rem;
  margin-right: 18px;
  color: #9f9f9d;
}
.resume-container .education .education-title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
  margin-bottom: 3%;
}
.resume-container .education .education-title .education-text {
  font-size: 4rem;
  font-family: 'Unica One', cursive;
  color: #333333;
  font-weight: 900;
}
.resume-container .education .education-title .terminal-icon {
  font-size: 5rem;
  color: #0c4b4f;
  margin-top: 3%;
  margin-bottom: 1%;
}
.resume-container .education .school-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.resume-container .education .school-list .ant-steps {
  margin-left: 15%;
}
@media (max-width: 500px) {
  .resume-container .education .school-list .ant-steps {
    margin-left: 10%;
  }
}
.resume-container .education .school-list .ant-steps-icon-dot {
  font-size: 2rem;
  background-color: #0c4b4f;
}
.resume-container .education .school-list .ant-steps-item-content {
  width: 80%;
}
.resume-container .education .school-list .ant-steps-item-title {
  font-size: 3rem;
  font-family: 'Unica One', cursive;
  color: #333333;
}
@media (max-width: 500px) {
  .resume-container .education .school-list .ant-steps-item-title {
    font-size: 2rem;
  }
}
.resume-container .education .school-list .ant-steps-item-title .ant-steps-item-subtitle {
  margin-left: 0px;
  display: flex;
  font-size: 2rem;
  font-family: 'Crimson Text', serif;
}
@media (max-width: 500px) {
  .resume-container .education .school-list .ant-steps-item-title .ant-steps-item-subtitle {
    font-size: 1.5rem;
  }
}
.resume-container .education .school-list .ant-steps-item-description {
  font-size: 1.75rem;
  font-family: 'Crimson Text', serif;
  color: #9f9f9d;
}
@media (max-width: 500px) {
  .resume-container .education .school-list .ant-steps-item-description {
    font-size: 1.25rem;
  }
}
.resume-container .divider {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5%;
}
.resume-container .divider .line-break {
  width: 30%;
}
.resume-container .divider .down-arrow-icon {
  font-size: 3rem;
  color: #333333;
}
.resume-container .work-container .work-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5%;
  margin-bottom: 3%;
}
.resume-container .work-container .work-title .work-title-text {
  font-size: 4rem;
  font-family: 'Unica One', cursive;
  color: #333333;
  font-weight: 900;
}
.resume-container .work-container .work-title .code-icon {
  font-size: 5rem;
  color: #0c4b4f;
  margin: 3% 0%;
}
.resume-container .work-container .work {
  display: flex;
  justify-content: center;
  align-items: center;
}
.resume-container .work-container .work .ant-steps {
  margin-left: 15%;
}
@media (max-width: 500px) {
  .resume-container .work-container .work .ant-steps {
    margin-left: 10%;
  }
}
.resume-container .work-container .work .ant-steps-icon-dot {
  font-size: 2rem;
  background-color: #0c4b4f;
}
.resume-container .work-container .work .ant-steps-item-content {
  width: 80%;
}
.resume-container .work-container .work .ant-steps-item-title {
  font-size: 3rem;
  font-family: 'Unica One', cursive;
  color: #333333;
}
@media (max-width: 500px) {
  .resume-container .work-container .work .ant-steps-item-title {
    font-size: 2rem;
  }
}
.resume-container .work-container .work .ant-steps-item-title .ant-steps-item-subtitle {
  margin-left: 0px;
  display: flex;
  font-size: 2rem;
  font-family: 'Crimson Text', serif;
}
@media (max-width: 500px) {
  .resume-container .work-container .work .ant-steps-item-title .ant-steps-item-subtitle {
    font-size: 1.5rem;
  }
}
.resume-container .work-container .work .ant-steps-item-description {
  font-size: 1.75rem;
  font-family: 'Crimson Text', serif;
  color: #9f9f9d;
}
@media (max-width: 500px) {
  .resume-container .work-container .work .ant-steps-item-description {
    font-size: 1.25rem;
  }
}
