@font-face {
  font-family: 'Abril Fatface';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Abril Fatface'), local('AbrilFatface-Regular'), url(https://fonts.gstatic.com/s/abrilfatface/v11/zOL64pLDlL1D99S8g8PtiKchm-A.ttf) format('truetype');
}
@font-face {
  font-family: 'Alegreya SC';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Alegreya SC Medium'), local('AlegreyaSC-Medium'), url(https://fonts.gstatic.com/s/alegreyasc/v11/taiTGmRtCJ62-O0HhNEa-ZZc-rUx.ttf) format('truetype');
}
@font-face {
  font-family: 'Average';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Average Regular'), local('Average-Regular'), url(https://fonts.gstatic.com/s/average/v8/fC1hPYBHe23MxA7rIeI.ttf) format('truetype');
}
@font-face {
  font-family: 'Boogaloo';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Boogaloo Regular'), local('Boogaloo-Regular'), url(https://fonts.gstatic.com/s/boogaloo/v11/kmK-Zq45GAvOdnaW6x1F.ttf) format('truetype');
}
@font-face {
  font-family: 'Courgette';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Courgette Regular'), local('Courgette-Regular'), url(https://fonts.gstatic.com/s/courgette/v7/wEO_EBrAnc9BLjLQAUkFUQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Kaushan Script';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Kaushan Script'), local('KaushanScript-Regular'), url(https://fonts.gstatic.com/s/kaushanscript/v8/vm8vdRfvXFLG3OLnsO15WYS5DF7_.ttf) format('truetype');
}
@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Lobster Regular'), local('Lobster-Regular'), url(https://fonts.gstatic.com/s/lobster/v22/neILzCirqoswsqX9_oU.ttf) format('truetype');
}
@font-face {
  font-family: 'Permanent Marker';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Permanent Marker Regular'), local('PermanentMarker-Regular'), url(https://fonts.gstatic.com/s/permanentmarker/v9/Fh4uPib9Iyv2ucM6pGQMWimMp004Hao.ttf) format('truetype');
}
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/playfairdisplay/v21/nuFvD-vYSZviVYUb_rj3ij__anPXJzDwcbmjWBN2PKdFvUDQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Playfair Display SC';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Playfair Display SC Regular'), local('PlayfairDisplaySC-Regular'), url(https://fonts.gstatic.com/s/playfairdisplaysc/v9/ke85OhoaMkR6-hSn7kbHVoFf7ZfgMPr_pb4.ttf) format('truetype');
}
@font-face {
  font-family: 'Playfair Display SC';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Playfair Display SC Bold'), local('PlayfairDisplaySC-Bold'), url(https://fonts.gstatic.com/s/playfairdisplaysc/v9/ke80OhoaMkR6-hSn7kbHVoFf7ZfgMPr_nQIpNcs.ttf) format('truetype');
}
@font-face {
  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Yeseva One Regular'), local('YesevaOne-Regular'), url(https://fonts.gstatic.com/s/yesevaone/v14/OpNJno4ck8vc-xYpwWWxpio.ttf) format('truetype');
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html,
body {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-size: 62.5%;
}
.landing-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('../img/1920.jpg');
  background-size: cover;
}
.landing-page-container .hero-text {
  color: #9f9f9d;
  font-size: 10rem;
  margin-right: 70%;
  margin-bottom: 6%;
  width: 20%;
  font-family: 'Abril Fatface', cursive;
}
@media (max-width: 500px) {
  .landing-page-container .hero-text {
    font-size: 8rem;
    margin-bottom: 20%;
  }
}
.nav-container {
  position: sticky;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #333333;
  box-shadow: 0px 0px 6px 0 #0000006b;
  z-index: 1;
}
.nav-container header {
  width: 100%;
  height: 100%;
}
.nav-container header nav {
  width: 100%;
  height: 100%;
  display: flex;
}
.nav-container header nav .menu {
  display: none;
  width: 100%;
}
@media (max-width: 650px) {
  .nav-container header nav .menu {
    display: block;
  }
}
.nav-container header nav .menu .drawer-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-container header nav .menu .drawer-container .menu-button {
  font-size: 4rem;
  color: #9f9f9d;
  margin: 3%;
}
@media (max-width: 650px) {
  .nav-container header nav .nav-logo {
    display: none;
  }
}
.nav-container header nav .nav-logo .logo-img {
  width: 220px;
  margin: 10px;
}
.nav-container header nav .nav-bar {
  width: 100%;
}
@media (max-width: 650px) {
  .nav-container header nav .nav-bar {
    display: none;
  }
}
.nav-container header nav .nav-bar ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}
.nav-container header nav .nav-bar ul li {
  font-size: 1.75rem;
  font-family: 'Average', serif;
  color: #9f9f9d;
  margin: 25px 10px;
}
.nav-container header nav .nav-bar ul li a {
  color: #9f9f9d;
}
.nav-container header nav .nav-bar ul li a:hover,
.nav-container header nav .nav-bar ul li a:active {
  color: #fff;
  font-size: 1.75rem;
}
.about-container {
  width: 100%;
  height: 100%;
}
.about-container .about-banner {
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0c4b4f;
  box-shadow: inset 1px 2px 20px 0px rgba(17, 17, 17, 0.62), 0px 0px 6px 0 #0000001c;
}
.about-container .about-banner .about-title {
  font-family: 'Abril Fatface', cursive;
  font-size: 5rem;
  color: #9f9f9d;
}
.about-container .about-banner .about-icon {
  font-size: 4rem;
  margin-right: 18px;
  color: #9f9f9d;
}
.about-container .introduction-container {
  display: flex;
  justify-content: center;
  margin: 40px 0px;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5%;
}
.about-container .introduction-container .name {
  font-size: 4rem;
  color: #333333;
  font-family: 'Alegreya SC', serif;
  margin-bottom: 10px;
}
.about-container .introduction-container .title {
  font-size: 2rem;
  color: #9f9f9d;
  font-family: 'Average', serif;
}
.about-container .profile-cv-follow {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5%;
}
.about-container .profile-cv-follow .quote {
  font-size: 1.75rem;
  font-family: 'Average', serif;
  color: #9f9f9d;
  margin: 2% 10%;
  line-height: 3rem;
  width: 400px;
}
@media (max-width: 500px) {
  .about-container .profile-cv-follow .quote {
    width: 308px;
  }
}
.about-container .profile-cv-follow .github-linkedin {
  width: 100%;
}
.about-container .profile-cv-follow .github-linkedin .icons {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 20%;
  margin-top: 5%;
}
@media (max-width: 500px) {
  .about-container .profile-cv-follow .github-linkedin .icons {
    width: 85%;
    margin-left: 7%;
  }
}
.about-container .profile-cv-follow .github-linkedin .icons .cv-icon {
  font-size: 3.5rem;
  color: #0c4b4f;
}
.about-container .profile-cv-follow .profile-pic {
  width: 20%;
  border-radius: 50%;
  border: 1px solid #5f686b;
  padding: 3px;
}
@media (max-width: 800px) {
  .about-container .profile-cv-follow .profile-pic {
    width: 35%;
  }
}
@media (max-width: 800px) and (max-width: 500px) {
  .about-container .profile-cv-follow .profile-pic {
    width: 50%;
  }
}
.about-container .divider {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5%;
}
.about-container .divider .line-break {
  width: 30%;
}
.about-container .divider .down-arrow-icon {
  font-size: 3rem;
  color: #333333;
}
.about-container .skills-title-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-container .skills-title-text .skills-title {
  font-size: 4rem;
  color: #333333;
  margin-bottom: 10px;
  font-family: 'Alegreya SC', serif;
}
.about-container .skills-title-text .skills-text {
  font-size: 1.75rem;
  color: #9f9f9d;
  font-family: 'Average', serif;
}
.about-container .skills {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 70%;
  margin-top: 3%;
  margin-left: 15%;
  padding: 1%;
}
.about-container .skills .skill {
  font-size: 2rem;
  font-family: 'Alegreya SC', serif;
  color: #333333;
}
.about-container .ctc {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3%;
}
.about-container .ctc .ct {
  font-size: 4rem;
  font-family: 'Alegreya SC', serif;
  color: #333333;
}
@media (max-width: 500px) {
  .about-container .ctc .ct {
    font-size: 3rem;
  }
}
.about-container .cinfo {
  width: 50%;
  margin-left: 25%;
  border: 1px solid #0c4b4f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
  border-radius: 8px;
}
.about-container .cinfo .map-icon {
  font-size: 3rem;
  color: #0c4b4f;
  margin-top: 5%;
  margin-bottom: 1%;
}
.about-container .cinfo .location {
  font-size: 2rem;
  color: #9f9f9d;
  font-family: 'Average', serif;
  margin-bottom: 5%;
}
@media (max-width: 500px) {
  .about-container .cinfo .location {
    font-size: 1.5rem;
  }
}
.about-container .cinfo .mail-icon {
  font-size: 3rem;
  color: #0c4b4f;
  margin-bottom: 1%;
}
.about-container .cinfo .email {
  font-size: 2rem;
  color: #9f9f9d;
  font-family: 'Average', serif;
  margin-bottom: 5%;
}
@media (max-width: 500px) {
  .about-container .cinfo .email {
    font-size: 1.5rem;
  }
}
.about-container .cinfo .phone-icon {
  font-size: 3rem;
  color: #0c4b4f;
  margin-bottom: 1%;
}
.about-container .cinfo .phone {
  font-size: 2rem;
  color: #9f9f9d;
  font-family: 'Average', serif;
  margin-bottom: 5%;
}
@media (max-width: 500px) {
  .about-container .cinfo .phone {
    font-size: 1.5rem;
  }
}
.ant-progress-bg {
  background-color: #0c4b4f;
}
.resume-container {
  width: 100%;
  height: 100%;
}
.resume-container .port {
  height: 7vh;
}
.resume-container .resume-banner {
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0c4b4f;
  box-shadow: inset 1px 2px 20px 0px rgba(17, 17, 17, 0.62), 0px 0px 6px 0 #0000001c;
}
.resume-container .resume-banner .resume-title {
  font-family: 'Abril Fatface', cursive;
  font-size: 5rem;
  color: #9f9f9d;
}
.resume-container .resume-banner .resume-icon {
  font-size: 3.25rem;
  margin-right: 18px;
  color: #9f9f9d;
}
.resume-container .education .education-title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
  margin-bottom: 3%;
}
.resume-container .education .education-title .education-text {
  font-size: 4rem;
  font-family: 'Alegreya SC', serif;
  color: #333333;
}
.resume-container .education .education-title .terminal-icon {
  font-size: 5rem;
  color: #0c4b4f;
  margin-top: 3%;
  margin-bottom: 1%;
}
.resume-container .education .school-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.resume-container .education .school-list .ant-steps {
  margin-left: 15%;
}
.resume-container .education .school-list .ant-steps-icon-dot {
  font-size: 2rem;
  background-color: #0c4b4f;
}
.resume-container .education .school-list .ant-steps-item-content {
  width: 80%;
}
.resume-container .education .school-list .ant-steps-item-title {
  font-size: 3rem;
  font-family: 'Alegreya SC', serif;
  color: #333333;
}
@media (max-width: 500px) {
  .resume-container .education .school-list .ant-steps-item-title {
    font-size: 2rem;
  }
}
.resume-container .education .school-list .ant-steps-item-title .ant-steps-item-subtitle {
  margin-left: 0px;
  display: flex;
  font-size: 2rem;
}
@media (max-width: 500px) {
  .resume-container .education .school-list .ant-steps-item-title .ant-steps-item-subtitle {
    font-size: 1.25rem;
  }
}
.resume-container .education .school-list .ant-steps-item-description {
  font-size: 1.5rem;
  font-family: 'Average', serif;
  color: #9f9f9d;
}
@media (max-width: 500px) {
  .resume-container .education .school-list .ant-steps-item-description {
    font-size: 1rem;
  }
}
.resume-container .divider {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5%;
}
.resume-container .divider .line-break {
  width: 30%;
}
.resume-container .divider .down-arrow-icon {
  font-size: 3rem;
  color: #333333;
}
.resume-container .work-container .work-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5%;
  margin-bottom: 3%;
}
.resume-container .work-container .work-title .work-title-text {
  font-size: 4rem;
  font-family: 'Alegreya SC', serif;
  color: #333333;
}
.resume-container .work-container .work-title .code-icon {
  font-size: 5rem;
  color: #0c4b4f;
  margin: 3% 0%;
}
.resume-container .work-container .work {
  display: flex;
  justify-content: center;
  align-items: center;
}
.resume-container .work-container .work .ant-steps {
  margin-left: 15%;
}
.resume-container .work-container .work .ant-steps-icon-dot {
  font-size: 2rem;
  background-color: #0c4b4f;
}
.resume-container .work-container .work .ant-steps-item-content {
  width: 80%;
}
.resume-container .work-container .work .ant-steps-item-title {
  font-size: 3rem;
  font-family: 'Alegreya SC', serif;
  color: #333333;
}
@media (max-width: 500px) {
  .resume-container .work-container .work .ant-steps-item-title {
    font-size: 2rem;
  }
}
.resume-container .work-container .work .ant-steps-item-title .ant-steps-item-subtitle {
  margin-left: 0px;
  display: flex;
  font-size: 2rem;
}
@media (max-width: 500px) {
  .resume-container .work-container .work .ant-steps-item-title .ant-steps-item-subtitle {
    font-size: 1.25rem;
  }
}
.resume-container .work-container .work .ant-steps-item-description {
  font-size: 1.5rem;
  font-family: 'Average', serif;
  color: #9f9f9d;
}
@media (max-width: 500px) {
  .resume-container .work-container .work .ant-steps-item-description {
    font-size: 1rem;
  }
}
.portfolio-container {
  height: 100%;
  width: 100%;
}
.portfolio-container .portfolio-banner {
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0c4b4f;
  box-shadow: inset 1px 2px 20px 0px rgba(17, 17, 17, 0.62), 0px 0px 6px 0 #0000001c;
}
.portfolio-container .portfolio-banner .portfolio-title {
  font-family: 'Abril Fatface', cursive;
  font-size: 5rem;
  color: #9f9f9d;
}
.portfolio-container .portfolio-banner .portfolio-icon {
  font-size: 4rem;
  margin-right: 18px;
  margin-top: 2%;
  color: #9f9f9d;
}
.portfolio-container .portfolio-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  margin-bottom: 3%;
}
.portfolio-container .portfolio-title .portfolio-title-text {
  font-size: 4rem;
  font-family: 'Alegreya SC', serif;
  color: #333333;
}
.portfolio-container .divider {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5%;
}
.portfolio-container .divider .line-break {
  width: 30%;
}
.portfolio-container .divider .down-arrow-icon {
  font-size: 3rem;
  color: #333333;
}
.portfolio-container .sites-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin: 3% 3%;
}
.portfolio-container .sites-container .ant-card {
  width: 60%;
  margin: 0% 5%;
  box-shadow: 3px 6px 6px 0 #00000052;
}
.contact-container {
  width: 100%;
  height: 100%;
}
.contact-container .contact-banner {
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0c4b4f;
  box-shadow: inset 1px 2px 20px 0px rgba(17, 17, 17, 0.62), 0px 0px 6px 0 #0000001c;
}
.contact-container .contact-banner .contact-title {
  font-size: 5rem;
  font-family: 'Abril Fatface', cursive;
  color: #9f9f9d;
}
.contact-container .contact-banner .contact-icon {
  font-size: 4rem;
  margin-right: 18px;
  color: #9f9f9d;
}
.contact-container .git {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
  margin-bottom: 3%;
}
.contact-container .git .gitwm {
  font-size: 4rem;
  font-family: 'Alegreya SC', serif;
  color: #333333;
}
.contact-container .contact-form {
  width: 78%;
}
.footer-container .footer {
  background-color: #333333;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2%;
}
.footer-container .footer .footer-name {
  color: #9f9f9d;
  font-family: 'Alegreya SC', serif;
  font-size: 2rem;
  padding: 0.5%;
}
.footer-container .footer .fr {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1%;
}
.footer-container .footer .fr .footer-icons {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1.5%;
}
.footer-container .footer .fr .footer-icons a .cv-icon {
  font-size: 2.5rem;
  color: #9f9f9d;
  margin-top: 2%;
}
.ant-drawer-wrapper-body {
  background: #333333;
}
.ant-drawer-wrapper-body .ant-drawer-header {
  border-bottom: 1px solid #9f9f9d;
  background: #333333;
}
.ant-drawer-wrapper-body .ant-drawer-header .ant-drawer-title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ant-drawer-wrapper-body .ant-drawer-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.ant-drawer-wrapper-body .ant-drawer-body a {
  color: #9f9f9d;
  font-size: 2rem;
  font-family: 'Average', serif;
}
.ant-drawer-wrapper-body .ant-drawer-body a:hover,
.ant-drawer-wrapper-body .ant-drawer-body a:active {
  color: #fff;
}
