@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alegreya+SC:wght@500&family=Average&family=Boogaloo&family=Courgette&family=Kaushan+Script&family=Lobster&family=Permanent+Marker&family=Playfair+Display&family=Playfair+Display+SC:wght@400;700&family=Yeseva+One&display=swap');

@playfair: 'Playfair Display', serif;
@playfair-sc: 'Playfair Display SC', serif;
@lobster: 'Lobster', cursive;
@permanent: 'Permanent Marker', cursive;
@courgette: 'Courgette', cursive;
@fat-face: 'Abril Fatface', cursive;
@kaushan: 'Kaushan Script', cursive;
@boogaloo: 'Boogaloo', cursive;
@yeseva: 'Yeseva One', cursive;
@average: 'Average', serif;
@alegreya: 'Alegreya SC', serif;


@phone: ~'(max-width: 500px)';
@tablet: ~'(max-width: 800px)';

@grey: #9f9f9d;
@blue-grey: #5e666c;
@off-white: #e5e8e8;
@green: #43b0a8;
@black: #010101;
@orange: #8b5c0d;
@nav-color: #282828d9;
@flat-black: #333333;
@blue: #0c4b4f;
@red: #511010;

@shadow: inset 1px 2px 20px 0px rgba(17, 17, 17, 0.62), 0px 0px 6px 0 #0000001c;
@inset-shadow: inset -1px -1px 13px 5px #686565eb;
